<!DOCTYPE html>
<html>
<head>
    <title>Spartans at SacHacks</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <script src="static/js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <section style="min-height: 85vh;">
        <div class="container-fluid" style="margin-top: 50px;">
            <div class="row justify-content-center">
                <!-- Application Title -->
                <div class="col-md-12 title-section">
                    <h1 class="text-center">Spartan Career Help</h1>
                    <h2 class="text-center">Your go-to for all things career advice</h2>
                </div>
                <div class="col-md-8">
                    <div id="chatbox" class="panel-heading chatbox clearfix border">
                        <div class="panel-title reply">{{ display_text }}</div>
                    </div>
                    <div class="input-group" width="100%">
                        <input id="text-input" type="text" name="input" class="form-control border-top-0"/>
                        <div class="input-group-append">
                            <button id="submit" type="submit" class="btn btn-primary" onclick="sendRequest();">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<script type="text/javascript">
    let state = 1
    let matches = []
    const defaultLoadingMessage = "LLM is thinking..."
    const secretLoadingMessages = ['Hold on, LLM is skimming the internet for you', 'Give us a second, our bot escaped']

    function sendRequest() {
        let input = $("#text-input").val();
        $("#chatbox").append('<div class="panel-title message">' + input + '</div>')
        $("#text-input").val("");
        
        // input validation when user must select a number
        if (state == 2) {
            if (isNaN(input)) {
                $("#chatbox").append('<div class="panel-title reply">Please type in one of the numerical options above.</div>')
                return
            }
            input = matches[parseInt(input) - 1]
        }

        let loadingMessage = Math.floor(Math.random() * 10) < 5 ? defaultLoadingMessage : secretLoadingMessages[Math.floor(Math.random() * secretLoadingMessages.length)]
        let loadingTimeout = setTimeout(() => $("#chatbox").append(`<div class="panel-title reply loading"><i>${loadingMessage}</div>`), 1000)

        $.ajax({
            type: "POST",
            url: "{{ url_for('chat') }}",
            data: JSON.stringify({"input": input,
                    "state": state}),
            contentType: "application/json",
            success: function(data) {
                clearTimeout(loadingTimeout)
                $(".loading").remove()
                $("#chatbox").append('<div class="panel-title reply">' + data["response"] + '</div>')
                state = data["state"];
                matches = data["matches"]
            }
        });
    }

    // send message when user presses enter
    $("#text-input").keypress(function(key) {
        if (key.which == 13) {
            sendRequest();
            return false;
        }
    });
</script>

</html>
